<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="spring_boot_final.dao.IReplyDAO">
	
  		<insert id="insertReply" parameterType="spring_boot_final.model.ReplyVO">
  			INSERT INTO reply ( repCon, memNo, rcpNo)
  			values ( #{repCon}, #{memNo},#{rcpNo})
  	    </insert> 	
  	    
  	    <select id="insertReplyForm" parameterType="int" resultType="spring_boot_final.model.ReplyVO">
  	    	SELECT * FROM reply WHERE rcpNo=#{rcpNo} ORDER BY repNo=#{repNo} DESC
  	    </select>
  	    <delete id="deleteReplyForm" parameterType="int">
  	    	DELETE FROM reply WHERE repNo=#{repNo};
  	    </delete> 
</mapper>