@charset "UTF-8";


html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}
:root {
    --fc-daygrid-event-dot-width: 8px;
    --fc-list-event-dot-width: 10px;
    --fc-list-event-hover-bg-color: #f5f5f5;
}
#calendar {
    max-width: 1100px;
    margin: 40px auto;
}
.fc-direction-ltr {
    direction: ltr;
    text-align: left;
}
.fc, .fc *, .fc :after, .fc :before {
    box-sizing: border-box;
}
.fc {
    display: flex;
    flex-direction: column;
    font-size: 1em;
}

div {
    display: block;
}
.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 1.5em;
}
.fc .fc-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fc, .fc *, .fc :after, .fc :before {
    box-sizing: border-box;
}
.fc .fc-button-group {
    position: relative;
    display: inline-flex;
}
.fc .fc-button, .fc .fc-button .fc-icon, .fc .fc-button-group, .fc .fc-timegrid-slot-label {
    vertical-align: middle;
}
.fc, .fc *, .fc :after, .fc :before {
    box-sizing: border-box;
}
.fc-direction-ltr .fc-button-group>.fc-button:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.fc .fc-button-group>.fc-button {
    position: relative;
    flex: 1 1 auto;
}
.fc .fc-button:not(:disabled), .fc a[data-navlink], .fc-event.fc-event-draggable, .fc-event[href] {
    cursor: pointer;
}
.fc .fc-button-primary {
    color: #fff;
    color: var(--fc-button-text-color,#fff);
    background-color: #2C3E50;
    background-color: var(--fc-button-bg-color,#2C3E50);
    border-color: #2C3E50;
    border-color: var(--fc-button-border-color,#2C3E50);
}
.fc .fc-button {
    -webkit-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.4em 0.65em;
    font-size: 1em;
    line-height: 1.5;
    border-radius: 0.25em;
}
.fc .fc-button {
    overflow: visible;
    text-transform: none;
    margin: 0;
    font-family: inherit;
}
.fc .fc-button, .fc .fc-button .fc-icon, .fc .fc-button-group, .fc .fc-timegrid-slot-label {
    vertical-align: middle;
}
.fc .fc-button, .fc-icon {
    display: inline-block;
    text-align: center;
}
.fc .fc-button, .fc-icon {
    text-transform: none;
    font-weight: 400;
}
.fc, .fc *, .fc :after, .fc :before {
    box-sizing: border-box;
}
user agent stylesheet
button {
    appearance: auto;
    writing-mode: horizontal-tb !important;

    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
.fc .fc-button .fc-icon {
    font-size: 1.5em;
}
.fc .fc-button, .fc .fc-button .fc-icon, .fc .fc-button-group, .fc .fc-timegrid-slot-label {
    vertical-align: middle;
}
.fc-icon {
    width: 1em;
    height: 1em;
    -webkit-user-select: none;
    user-select: none;
    font-family: fcicons!important;
    speak: none;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fc, .fc *, .fc :after, .fc :before {
    box-sizing: border-box;
}
.fc .fc-button, .fc-icon {
    display: inline-block;
    text-align: center;
}
.fc .fc-button, .fc-icon {
    text-transform: none;
    font-weight: 400;
}
.fc-icon, .fc-unselectable {
    -moz-user-select: none;
    -ms-user-select: none;
}
element.style {
    height: 725.926px;
}
.fc .fc-view-harness {
    flex-grow: 1;
    position: relative;
}
.fc .fc-bg-event, .fc .fc-highlight, .fc .fc-non-business, .fc .fc-view-harness-active>.fc-view {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.fc .fc-scrollgrid-liquid {
    height: 100%;
}
.fc .fc-scrollgrid {
    border-collapse: separate;
    border-right-width: 0;
}
.fc .fc-scrollgrid, .fc .fc-scrollgrid table {
    width: 100%;
    table-layout: fixed;
}
.fc .fc-scrollgrid, .fc .fc-scrollgrid-section-footer>*, .fc .fc-scrollgrid-section-header>* {
    border-bottom-width: 0;
}
.fc-theme-standard .fc-scrollgrid {
    border: 1px solid #ddd;
    border: 1px solid var(--fc-border-color,#ddd);
}
.fc table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1em;
}
.fc, .fc *, .fc :after, .fc :before {
    box-sizing: border-box;
}
user agent stylesheet
table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
.fc .fc-scrollgrid-section, .fc .fc-scrollgrid-section table, .fc .fc-scrollgrid-section>td {
    height: 1px;
}
.fc, .fc *, .fc :after, .fc :before {
    box-sizing: border-box;
}
user agent stylesheet
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.fc .fc-scrollgrid-section>* {
    border-top-width: 0;
    border-left-width: 0;
}
.fc .fc-scrollgrid, .fc .fc-scrollgrid-section-footer>*, .fc .fc-scrollgrid-section-header>* {
    border-bottom-width: 0;
}
.fc-theme-standard td, .fc-theme-standard th {
    border: 1px solid #ddd;
    border: 1px solid var(--fc-border-color,#ddd);
}
.fc td, .fc th {
    vertical-align: top;
    padding: 0;
}
.fc th {
    text-align: center;
}
.fc, .fc *, .fc :after, .fc :before {
    box-sizing: border-box;
}
user agent stylesheet
th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}
.fc .fc-scroller-harness {
    position: relative;
    overflow: hidden;
    direction: ltr;
}
.fc .fc-scroller {
    -webkit-overflow-scrolling: touch;
    position: relative;
}
.fc .fc-scrollgrid-section, .fc .fc-scrollgrid-section table, .fc .fc-scrollgrid-section>td {
    height: 1px;
}
.fc .fc-scrollgrid table {
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
}
.fc .fc-scrollgrid, .fc .fc-scrollgrid table {
    width: 100%;
    table-layout: fixed;
}
.fc table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1em;
}
.fc, .fc *, .fc :after, .fc :before {
    box-sizing: border-box;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}
.fc, .fc *, .fc :after, .fc :before {
    box-sizing: border-box;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
.fc, .fc *, .fc :after, .fc :before {
    box-sizing: border-box;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.fc-theme-standard td, .fc-theme-standard th {
    border: 1px solid #ddd;
    border: 1px solid var(--fc-border-color,#ddd);
}
.fc td, .fc th {
    vertical-align: top;
    padding: 0;
}
.fc th {
    text-align: center;
}
.fc, .fc *, .fc :after, .fc :before {
    box-sizing: border-box;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}
.fc .fc-col-header-cell-cushion {
    display: inline-block;
    padding: 2px 4px;
}

