body{
	margin:auto;
    width:1280px;
    height: 900px;
    background-image: url('/images/Background.png');
     overflow: hidden; 
    z-index: 0;
}
#mainWrap{
	position:relative;
	text-align:center;

} 
#buttons{
    height: 500px;
    width:1280px;
    display: inline-block;
}
#loginBtn{
    padding-right: 100px;
}
#loginBtn,#signUpBtn,#mypageBtn,#logoutBtn,#mainPageBtn,#cartBtn{
	position:relative;
	top:300px;
	z-index: 10;
}
#Backgroundimg{
    position: relative;
    bottom: 250px;
    z-index: 1;
}
.bottom{
	z-index: 11;
	position:relative;
	bottom:500px;
	width:100%;
}
