@charset "UTF-8";

body{
	margin:auto;
	text-align:center;
}
#wrap2{
	margin:auto;
	/* background-image: url('/images/Background.png'); */
	position:relative;
	width:1280px;
	height:800px;
	bottom:47px;
	background-color:orange;
	z-index:1;
}
form{	
	position:relative;
	top:100px;
	margin:auto;
	width:800px;
	height:800px;
}
#inputGroup-sizing-default{
	text-align:center;
	width:125px;
}
#nav-bar{
	float:left;
	width:1280px;
	z-index:2;
}
#nav_m{
	width:1280px;

}
.nav-item{
	width:256px;
	margin:0;
	z-index:20;
}
#wrap2 button{
	background-color:#ffcc6c;
	color:black;
	border:none;
}
